PORT=5000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=lcp_business_system
JWT_SECRET=change_me
ADMIN_FULLNAME=LCP Owner
ADMIN_USERNAME=Owner
ADMIN_PASSWORD=admin123
ADMIN_CONTACT=09123456789
